$violet: hsl(263, 55%, 52%);
$darkgrayblue: hsl(217, 19%, 35%);
$blackblue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$lightgray: hsl(0, 0%, 81%);
$lightgrayblue: hsl(210, 46%, 95%);

@mixin center-items {
  display: flex;
  place-content: center;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  @include center-items;
}

.card-container {
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 2;
  gap: 2rem;
}

.daniel {
  grid-column: 1 / span 2;
}

.jonathan {
  grid-column: 3;
}

.kira {
  grid-column: 4;
  grid-row: 1 / span 2;
}

.jeanette {
  grid-column: 1;
  grid-row: 2;
}

.patrick {
  grid-column: 2 / span 2;
  grid-row: 2;
}